{% extends 'doctor_app/base.html' %}
{% load widget_tweaks %}


{% block body_block %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <p class="h4">Create Appointment</p>
                <form method="POST" enctype='multipart/form-data'>{% csrf_token %}
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Active Status</label>
                   {{appoint_form.active_status|add_class:"form-control"}}
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Appointment Date</label>
                   {{appoint_form.appointment_date|add_class:"form-control"}}
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Time Slot</label>
                   {{appoint_form.time_slot|add_class:"form-control"}}
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Room Number</label>
                   {{appoint_form.room_number|add_class:"form-control"}}
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Hoapital Name</label>
                   {{appoint_form.hospital_name|add_class:"form-control"}}
                  </div>
                  <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Number of Patient</label>
                   {{appoint_form.number_of_patient|add_class:"form-control"}}
                  </div>
                  <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Save</button>
                   </div>
                  
                </form>
            </div>
        </div>
        
    </div>
</div>
{% endblock body_block %}