{% extends 'doctor_app/base.html' %}

{% block body_block %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Online Pending Patinent(Today)</h6>
        </div>
        <div class="table-responsive">
            {% if todays_patient %}
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead class="text-dark bg-info">
                    <tr class="text-dark">
                        <th scope="col">Serial</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Time Slot</th>
                        <th scope="col">Time</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for patient in todays_patient %}
                <tbody>
                    <tr>
                        <td>{{patient.online_serial_number}}</td>
                        <td>{{patient.online_patient_d.profile.fullName}}</td>
                        <td>{{patient.online_patient_d.patient_info.age}}</td>
                        <td>{{patient.online_patient_d.profile.gender}}</td>
                        <td>{{patient.online_appointment_d.online_time_slot}}</td>
                        <td>
                            {% if patient.online_appointment_time %}
                            {{patient.online_appointment_time}}
                            {% else %}
                                Give Time
                            {% endif %}
                            
                        </td>
                        <td class>
                            <a class="btn btn-sm btn-success" href="{% url 'doctor_app:online_symptoms_form' patient.id %}"><i class="fa-solid fa-capsules pe-2"></i>Pescribe</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                
            </table>
            {% else %}
            <p class="h5">No patient's Today</p>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock body_block %}