{% extends 'login_app/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block body_block %}
     <!-- Sing in  Form -->
     <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'login_app/login/images/signin-image.jpg' %}" alt="sing up image"></figure>
                    <a href="{% url 'login_app:doctor_signup' %}" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Doctor Login</h2>
                    <form action={% url "login_app:doctor_login" %} method="POST" class="register-form" id="login-form">{% csrf_token %}
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-account material-icons-email"></i></label>
                            {{form.username| add_class:"form-control"}}
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            {{form.password | add_class:"form-control"}}
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock body_block %}