{% extends 'patient_app/base.html' %}
{% block body_block %}
 <!-- Patient name,id,age, blood pressuer start -->
            
 <div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex justify-content-center">
        <div class="col-sm-8 col-xl-8">
            <div class="bg-light rounded d-flex justify-content-Start p-4 mb-4">
                <img src="/media/{{doctor.profile.user_photo}}" style="width: 150px; height:150px;" alt="...">
                <div class="ms-3">
                    <h6 class="mb-2">{{doctor.profile.fullName}}</h6>
                    <p class="mb-2">{{doctor.doctor.doctor_sort_description}}</p>
                    <p class="mb-2">{{doctor.doctor.specialist}}</p>
                    <p class="mb-2">{{doctor.doctor.specialist}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment List Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Appointment List</h6>
        </div>
        {% if appoint_list %}
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Sl</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time Slot</th>
                        <th scope="col">Room No</th>
                        <th scope="col">Patients</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for appoint in appoint_list %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{appoint.appointment_date}}</td>
                        <td>{{appoint.time_slot}}</td>
                        <td>{{appoint.room_number}}</td>
                        <td>{{appoint.number_of_patient}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'patient_app:confirm_appointment' doctor.id appoint.id  %}"><i class="fa-solid fa-square-plus pe-2 appoint.appointment_date"></i>Take Appointment</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %} 
            </table>
        </div>
        {% endif %}
     
    </div>
</div>
<!-- Patient name,id,age, blood pressuer start end -->
<!--Online Appointment List Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Online Appointment List</h6>
        </div>
        {% if online_appoint_list %}
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Sl</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time Slot</th>
                        <th scope="col">Patients</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for appoint in online_appoint_list %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{appoint.online_appointment_date}}</td>
                        <td>{{appoint.online_time_slot}}</td>
                        <td>{{appoint.online_number_of_patient}}</td>
                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'patient_app:confirm_online_appointment' doctor.id appoint.id  %}"></i>Take Appointment</a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %} 
            </table>
        </div>
        {% endif %}
     
    </div>
</div>
<!-- Patient name,id,age, blood pressuer start end -->

{% endblock body_block %}