{% extends 'patient_app/base.html' %}
{% load crispy_forms_tags %}

{% block body_block %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <form method="POST" enctype='multipart/form-data'>{% csrf_token %}
                  <div class="mb-3">
                    {{form.fullName|as_crispy_field}}
                  </div>
                  <div class="mb-3">
                    {{form.gender|as_crispy_field}}
                  </div>
                  <div class="mb-3">
                    {{form.user_phone|as_crispy_field}}
                  </div>
                  <div class="mb-3">
                    {{form.user_photo|as_crispy_field}}
                  </div>
                   <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Update</button>
                   </div>
                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock body_block %}