{% extends 'admin_app/base.html' %}

{% block body_block %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">User Pending List</h6>
        </div>
        {% if request_user %}
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead class="bg-info">
                    <tr class="text-dark">
                        <th scope="col">sl</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for user in request_user %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{user.fullName}}</td>
                        <td>{{user.user_phone}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.user.email}}</td>
                        <td class>
                            <a class="btn btn-sm btn-primary" href="{% url 'admin_app:add_user' user.id %}"><i class="fa-solid fa-user-plus"></i></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h6 class="mb-0">No User Pending</h6>
        {% endif %}
       
    </div>
</div>
{% endblock body_block %}