{% extends 'admin_app/base.html' %}

{% block body_block %}
    <!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Doctors Pending List</h6>
        </div>
        {% if doctor_pending %}
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead class="bg-info">
                    <tr class="text-dark">
                        <th scope="col">sl</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                {% for doctors in doctor_pending %}
                <tbody>
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{doctors.fullName}}</td>
                        <td>{{doctors.user_phone}}</td>
                        <td>{{doctors.gender}}</td>
                        <td>Pending</td>
                        <td class>
                            <a class="btn btn-sm btn-success" href="{% url 'admin_app:doctor_details' doctors.id %}"><i class="fa-solid fa-eye"></i></a>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <h6 class="mb-0">No Doctors Pending</h6>
        {% endif %}
       
    </div>
</div>
{% endblock body_block %}